* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* 전체 레이아웃 */
#calculator {
  width: 230px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 12px 68px -2px black;
  background-color: rgb(91, 86, 82);
}

/* 최상단 버튼 구역 */
#header {
  display: flex;
  padding: 5px;
}

.circle-btn {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

#red {
  background-color: rgb(238, 105, 94);
}

#yellow {
  background-color: rgb(245, 189, 79);
}

#green {
  background-color: rgb(98, 195, 84);
}

/* 계산 결과 구역 */
#output {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.calc-result {
  font-family: system-ui;
  font-size: 50px;
  color: white;
  font-weight: 200;
}

/* 계산기 버튼 구역 */
.calc-buttons {
  display: flex;
  flex-direction: row;
}

/* 계산기 버튼 */
.btn {
  flex: 1 0 50px;
  padding: 10px;
  font-size: 20px;
  border: solid 0.5px rgb(91, 86, 82);
  color: white;
}

.dark-gray {
  background-color: rgb(106, 103, 100);
}

.orange {
  background-color: rgb(243, 162, 60);
}

.light-gray {
  background-color: rgb(131, 128, 125);
}

#bottom-left {
  flex: 2 0 100px;
  border-bottom-left-radius: 10px;
}

#bottom-right {
  border-bottom-right-radius: 10px;
}
